
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

#map path {
  stroke: #0c0c0c;
}

#ts path {
  fill: none;
  stroke-width: 2px;
  stroke: #8C306C;
}

#label text {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
}
